*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
}
/* 点歌系统用 */
.background_div{
    background-color: transparent;
    color: white;
    padding: 2.6vh 0 3vh 0;

}

.flexCenter{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

/*点歌系统 END*/