*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* 点歌系统用 */
.background_div{
    background-color: transparent;
    /*color: white;*/
    padding: 2.6vh 0 3vh 0;

}

.background_div_color{
    /*color: black;*/
    width: 100vw;
    padding: 2.6vh 0 3vh 0;
    background-color: #f6f7f9;
}

body{
    background-color: #f6f7f9;
}

.flexCenter{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

/*
Dialog组件内视觉优化
 */
.inputDialog>.nut-dialog__content{
    margin: 20px 0 5px 0 ;
}

/*点歌系统 END*/
